  <% if object.errors.any? %>
    <div id="error_explanation">
      <h2>Houston, we have a problem...</h2>
      <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>