$light-blue: #7CAEAE;
$dark-blue: #496773;
$yellow: #E2BC7F;
// $green: #A4AC71;
$pink: #D99282;
$light-gray: #f1f1f1;
$dark-gray: darken($light-gray, 50%);
$primary-background-color: #262626;

$text: #807e7a;
$beige: #f8f8f6;
$dark-beige: #e8e7e3;
$green: #359474;
$red: #e8765c;