@import "colors";
@import "fonts";

.button {
  a {
    color: $light-blue;
    border: 1px solid $green;
    padding: 5px 10px;
    border-radius: 5px;

    &:visited {
      color: $light-blue;
    }

    &:hover {
      color: $light-blue;
      background-color: darken($green, 10%);
      text-decoration: none;
    }
  } /* a */

} /* .button */
.next {
  float: right;
} /* .next */
.back {
  float: left;
} /* .back */